/*
Error: Undefined variable: "$footer_height".
        on line 3 of F:/OpenServer/domains/turbo/sass/footer.scss

1: /* ╨д╤Г╤В╨╡╤А *\/
2: .footer {
3: 	height: $footer_height;
4: 	margin: -$footer_height 0 0 0;
5: 	background: #353535;
6: 	position: relative;
7: 	z-index: 2;
8: 

Backtrace:
F:/OpenServer/domains/turbo/sass/footer.scss:3
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/script/tree/variable.rb:49:in `_perform'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/script/tree/node.rb:50:in `perform'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:384:in `visit_prop'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/stack.rb:79:in `with_base'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:420:in `map'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/stack.rb:79:in `with_base'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:157:in `visit'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/tree/root_node.rb:20:in `render'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/engine.rb:268:in `render'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:491:in `update_stylesheet'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:293:in `watch'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-1.0.1/lib/compass/sass_compiler.rb:46:in `watch!'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-1.0.1/lib/compass/commands/watch_project.rb:41:in `perform'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-1.0.1/lib/compass/commands/base.rb:18:in `execute'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-1.0.1/lib/compass/commands/project_base.rb:19:in `execute'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-1.0.1/bin/compass:30:in `block in <top (required)>'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-1.0.1/bin/compass:44:in `call'
C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-1.0.1/bin/compass:44:in `<top (required)>'
C:/Ruby21-x64/bin/compass:23:in `load'
C:/Ruby21-x64/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$footer_height\".\A         on line 3 of F:/OpenServer/domains/turbo/sass/footer.scss\A \A 1: /* ╨д╤Г╤В╨╡╤А */\A 2: .footer {\A 3: 	height: $footer_height;\A 4: 	margin: -$footer_height 0 0 0;\A 5: 	background: #353535;\A 6: 	position: relative;\A 7: 	z-index: 2;\A 8: "; }
