.advantages {
	padding-top: 20px;
}
.advantages-row {
	@extend .clearfix;
}

.advantages-item {
	@extend %fl;
	@extend %w_50;
	@extend %border_box;
	
	padding: 0 20px 20px 20px;
	
	
}

.advantages-item-cnt {
	border: 1px solid #D3D3D3;
	background-color: #fff;
}

.advantages-item-popup {
	/*
	@extend %pos_abs;
	
	display: none;
	background-color: #fffffb;
	padding: 10px 20px;
	border: 3px solid #DCDCDC;
	width: 600px;
	top: 100px;
	left: 50%;
	margin-left: -300px;
	
	@include border_radius(10px);
	*/
	
	p {
		@extend %font_16;
		@extend %c_000;
		@extend %font_14;
		@extend .mb-15
	}
	
	li {
		list-style: disc inside;
		@extend .mb-15;
		@extend %font_14;
	}
	
	.advantages-item-popup-title {
		@extend %c_000;
		@extend %font_20;
		@extend %uppercase;

		font-family: Arial;
	}
	
}

.advantages-item-title {
	@extend %font_22;
	@extend %bold;
	
	font-family: Arial Narrow, sans-serif;
	padding-bottom: 10px;
	line-height: 1;
	
	.cifra {
		font-size: 35px;
		color: #E00404;
		padding-left: 10px;
		font-family: Arial;
	}
	
	.n-news {
		padding-left: 5px;
	}
}

.advantages-item-sdesc-cnt {
	@extend .pos-rel;
	
	.advantages-item-detail {
		@extend %pos_abs;
		@extend %font_10;
		@extend %uppercase;
		@extend %bold;
		@extend %underline_n_n;
		
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		
		&:hover {
			@include box-shadow(0 0 6px 3px #ccc);
		}
		
		
		span {
			@extend %pos_abs;
			
			font-family: Arial;
			padding: 0 3px;

			right: 0;
			bottom: 0;

			background-color: #efefef;

			&:hover {
				background-color: #cfcfcf;
			}
			
			
		}
		
	}
	
}

.advantages-item-sdesc {
	@extend %font_15;
	@extend %pos_rel;
	
	padding-left: 10px;
	padding-right: 10px;
	
	line-height: 20px;
	height: 105px;
	
	.small {
		font-family: Arial Narrow, sans-serif;
		font-size: 14px;
	}
	
}

.advantages-item-img {
	@extend %pos_abs;
}

.advantages-item-img-1 {
	height: 100px;
	right: 0;
	top: -44px;
}

.advantages-item-img-2 {
	height: 110px;
	right: 5px;
	top: -20px;
}

.advantages-item-img-3 {
	height: 95px;
	right: 5px;
	top: -40px;
}

.advantages-item-img-4 {
	height: 80px;
	right: 5px;
	top: -40px;
}

.advantages-title {
	@extend %uppercase;
	@extend %bold;
	@extend %font_16;
	@extend %text_c;
	padding-bottom: 20px;
}



