.cart-list {
	margin-top: -3px;
	@include box-shadow(#dbdbdb 3px 3px 5px);
	
	.cart-total {
	}
}

.cart-summary {
	th,
	td {
		border-bottom: 1px solid #f5f5f5;
	}
	
	td {
		padding: 20px 10px;
		
		border-right: 1px solid #f5f5f5;
		
		
		@extend %pos_rel;
	
	
		&:before,
		&:after {
			@extend %pos_abs;
			@extend .bg-fff;

			content: '';
			right: -1px;
			width: 1px;
			height: 20px;

		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
		
	}
	
	tr td:last-of-type {
		border-right: none;
		
		&:after,
		&:before {
			display: none;
		}
	}
	
	th {
		padding: 10px 10px 15px 10px;
	}
	
	.cart-total-row {
		td {
			border-right: none;
		}
	}
}




.inputbox-qty-cnt {
	@extend %pos_rel;
	
	width: 48px;
	height: 28px;
	margin-left: 30px;
	margin-top: 3px;
	padding: 0;
	border: 1px solid #bebebe;
	background: #fff;
	box-shadow: 0px 1px 2px #eee inset;
}

.inputbox-qty-cnt .inputbox-qty {
	@extend %text_c;
	@extend %bold;
	
	color: #252525;
	height: 29px;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: none;
	padding: 0;
	background-color: transparent;
	@include border-radius(0);
	@include box-shadow(none);
	
	
}


.cart-prod-img-cell,
.cart-image {
	width: 115px;
}

.cart-image {
	@include transition-property(box-shadow);
	@include transition-duration(200ms);
	
	&:hover {
		@include box-shadow(0 0 6px 3px #ccc);
	}
}

.cart-step-num {
	@extend %dib;
	@extend %c_fff;
	@extend %text_c;
	
	@include border-radius(100%);
	
	width: 22px;
	height: 22px;
	line-height: 22px;
	background-color: #c4c4c4;
}

.cart-step-num-active {
	background-color: #e81e1e;
}

.cart-step-active {
	@extend .bg-fff;
	@include border-radius(4px 4px 0 0);
	@include box-shadow(#dbdbdb 1px 0px 3px);
}

//.cart-qty {
//	@extend .bg-fff;
//	@extend %pointer;
//	
//	border: none;
//	width: 39px;
//	height: 35px;
//	border-right: 1px solid #d1d1d1;
//	border-bottom: 1px solid #d1d1d1;
//	top: 1px;
//}

.cart-qty-dec,
.cart-qty-inc {
	@extend %pos_abs;
	@extend %db;
	@extend %pointer;
	@extend %font_20; 
	
	@include transition-property(background-color);
	@include transition-duration(200ms);
	
	
	border: none;
	top: 0;
	width: 30px;
	height: 30px;
	//background: url('/img/busket__counter.png') #ededed;	
	z-index: 1;
	
	&:hover {
		@extend .c_d70000;		
		background-color: #bebebe;

	}	
}

.cart-qty-inc {
	right: 0;
	//background-position: -2px -31px;
	
}

.cart-qty-dec {
	left: 0;
	//background-position: 0 0;
	overflow: hidden;
	text-indent: 777px;
	&:before {
		content: '';
		position: absolute;
		width: 11px;
		height: 2px;
		background: #000;
		left: 10px;
		top: 14px;
	}
	
	&:hover:before {
		background: #d70000;
	}
	
}

.cart-remove {
	@extend %underline_n_n;
	@extend %text_c;
	@extend %bold;
	@extend %font_22;
	
	@include border-radius(100%);
	
	width: 22px;
	height: 22px;
	line-height: 20px;
	background-color: #c4c4c4;
	margin: 0 auto;
	
	&:hover {
		background-color: #e81e1e;
	}
}

.cart-prod-qty-cell,
.cart-qty-block {
	width: 109px;
}

.cart-qty-block {
	@extend %pos_rel;
}

.cart-prod-name-cell {
	width: 250px;
	vertical-align: top;
}

.cart-btn {
	@extend %underline_n_n;
	
	@include transition-property(background-color);
	@include transition-duration(200ms);
	@include box-shadow(#dbdbdb 2px 2px 5px);	
	
	line-height: 36px;
	padding: 0 15px;
	border: none;
}

.cart-btn-continue {
	//@extend .bg-c4c4c4;
	@extend %font_14;	
	
	@include border-radius(3px);
	
	background-color: #b7b7b7;
	
	margin-right: 10px;
	//border-left: 1px solid #fff;
	
	&:hover {
		background-color: darken(#b7b7b7, 5%)
	}
}

.cart-btn-checkout {
	@extend .bg-d70000;
	@extend %font_14;
	
	@include border-radius(3px);
	
	margin-left: 10px;
	
	&:hover {
		background-color: darken(#d70000, 5%)
	}	
}

#CheckoutForm_comment {
	resize: none;
}



.cart-btns1-cnt {
	margin-right: 57px;
}

.cart-model-info {
	@extend .pt-5;
	@extend %font_10;
}

.cart-price {
	@extend .c_d70000;
	@extend %bold;
	@extend %font_16;
	//@extend %text_c;
}

.checkout-cnt {
	.row {
		@extend .clearfix;
		@extend .mb-20;
	}
	
	
	.row > label {
		@extend %fl;
		
		width: 200px;
		line-height: 25px;
	}
	
	#CheckoutUrForm_na_osnovanii {
		@extend %fl;
	}
	
	.inputbox {
		@extend %fl;
		
		background-color: #fff;
		border-color: #d7d4d1;
		padding: 4px 7px;
		width: 250px;
	}
}

.na_osnovanii_textbox {
	margin-left: 200px;
}

#checkoutType {
	input[type="radio"] {
		width: 15px;
		height: 15px;
		margin-top: -5px;
	}
	
	label {
		@extend %bold;
		@extend %font_16;
		@extend %uppercase;
		
		line-height: 20px;
		padding-right: 20px;
	}
}

#checkout-form {
	
	.info_text,
	.small,
	.errorMessage {
		clear: both;
		margin-left: 200px;
	}
	
	.na_osnovanii_textbox {
		.errorMessage {
			margin-left: 0;
		}
		
		textarea.inputbox {
			max-width: 295px;
			width: 295px;
		}
	}
	
	.row_email_ur {
		margin-bottom: 40px; 
	}
	
	.small {
		color: #787878;
	}
	
	.info_text {
		color: #1a8bfc;
		padding-top: 10px;
		
		a {
			@extend %underline_y_n;
			color: #1a8bfc;
		}
	}
}

textarea#CheckoutUrForm_comment,
textarea#CheckoutFizForm_comment {
	width: 450px;
}


.checkout-btns {
	margin-left: 200px;
}

.order-done-popup {
	background-color: #fff;
	
	width: 550px;
}

.order-done-hdr {
	@extend %pos_rel;
	@extend %text_c;
	
	background-color: $red_color_1;
	padding: 25px 0 20px 0;
	
	
	img {
		
	}
	
	a {
		@extend %pos_abs;
		@extend %underline_y_n;
		@extend %c_fff;
		
		top: 5px;
		right: 20px;
	}
}

.order-done-info {
	@extend .p-30;
	
	& > p {
		@extend %text_c;
		@extend %bold;
	}
		
	.r1 {
		@extend %c_000;
		@extend %font_14;
		@extend .pb-10;
		
		span {
			color: $red_color_1;
		}
		
	}
	
	.r2 {
		@extend %c_000;
		@extend %uppercase;
		@extend %font_16;
		@extend .pb-20;
	}
	
	.r3 {
		@extend %font_14;
		@extend .pb-10;
		
		color: #777;
	}
	
	.r4 {
		@extend %font_16;
		color: $red_color_1;
	}
}

.delivery-list {
	@extend %border_box;
	@extend .clearfix;
	
	margin-left: -5px;
	margin-right: -5px;
}

.cart-block-border {
	@extend %fl;
	@extend %border_box;
	
	padding: 0 5px;
}

.delivery-item {
	width: 25%;
	
	.delivery-quick {
		@extend .mt-20;
	}
	
}

.payment-item {
	width: 20%;
}

.cart-block-border-cnt {
	@extend .p-10;
	@extend %pointer;
	@include border_radius(4px);
		
	border: 1px solid #c0c0c0; 
	
	@include transition-property(box-shadow);
	@include transition-duration(200ms);
	
	
	img {
		@extend %db;
		
		margin: 0 auto;
	}
	
}

.cart-block-border-cnt-disabled {
	background-color: #eee;
}
.cart-block-border-cnt-enabled {
	&:hover {
		@include box-shadow(0 0 6px 3px #ccc);
	}
}



.cart-block-border-ttl {
	@extend %text_c;
	@extend .mb-20;
	color: #1a8bfc;
}

.cart-block-border-cnt-selected {
	@include transition-property(box-shadow);
	@include transition-duration(200ms);
	@include box-shadow(0 0 6px 3px #ccc);
}

.delivery-list-cnt,
.payment-list-cnt {
	@extend %pos_rel;
}

.delivery-error,
.payment-error {
	@extend %pos_abs;
	@extend %italic;
	
	color: red;
	right: 20px;
	top: 22px;
	display: none;
}