.category-view {
	.categories-list {
		margin: 0 -5px;
	}
	
	
	.category-item {
		
		
		@extend %fl;
		@extend %w_25;
	}
	
	.category-item-wr {
		margin: 0 5px 15px 5px;
		
		padding: 10px;
		background: #fff;
		border: 1px solid #fff;

		@include border-radius(4px);
		@include box-shadow(#dbdbdb 2px 2px 5px);
		
		&:hover {
			border-color: #d70000;
			@include box-shadow(#ef959c 2px 2px 5px);
		}
		
		img {
			//@extend %db;
			margin: 0 0 10px 0;
			
			@include border-radius(4px);
		}
		
		a {
			height: 140px;
			
			@extend %db;
			@extend %text_c;
			@extend %bold;
			@extend %pos_rel;
			
			span {
				bottom: 0;
				width: 100%;
				
				@extend %db;
				@extend %pos_abs;
				@extend %text_c;
				
			}
		}
		
		
	}
	
}

.engine-h1 {
	@extend %uppercase;
	
	font-size: 12px;
	color: #1a8bfc;
	padding-top: 10px;
	
}

.engine-info {
	//@extend %text_c;
	@extend .mb-30;
	
	img {
		max-width: 100%;
	}
}

.search-notice-1,
.search-notice {
	img {
		height: 45px;
		vertical-align: middle;
	}
	
	p {
		@extend %c_000;
		@extend %font_18;
		@extend %bold;
		
		
	}
	
	padding-bottom: 40px;
}

.search-notice {
	img {
		margin-left: 90px;
	}
	
	p {
		padding-left: 92px;
	}
	
}

.search-notice-1 {
	img {
		margin-right: 20px;
	}
	
	p {
		padding-left: 40px;
		
		
	}
	
}

.product-image-featured {
	@extend %pos_rel;
	
	&:after {
		@extend %pos_abs;
		content: '';
		top: 0;
		left: 0;
		width: 55px;
		height: 55px;
		background: url(../img/product-tag3.png) no-repeat left top;
		background-size: contain;
	}
}