.filter-block {
	margin: 0 0 20px 0;
	
	.firms-block,
    .product-types-block {
		margin: 0 0 30px 0;
	}
	
	.clear-filter {
		padding-left: 15px;
		margin: -7px 0 0 0;
		
		@extend %bold;
		@extend %font_10;
		@extend %db;
		@extend %fr;
		@extend %for_sprite;
		
		&:before {
			left: 0;
			top: 0;
			@extend .ico-clear-filter-black;
		}
		
	}
}

.filter-block-header {
	margin: 0 0 10px 0;
	
	@extend %bold;
	@extend %font_14;
}

.filter-block-list {
	margin: 0 -2px;
	
	
}

.product-types-list-item {
	
	padding: 0 2px 4px 2px;
	@extend %fl;
	@extend %w_25;
	@extend %border_box;
	
	a,
	span {
		//@extend %bold;
	}
	

	a {
		/* border: 1px solid #c8c8c8; */
		/* padding: 11px; */
		
		/* @include border-radius(4px); */
		
		//@extend %font_11;
		@extend %db;
		@extend %underline_n_n;
		
		.name {
			//text-decoration: underline;
			@extend %underline_y_n;
		}
		
		&:hover,
		&.active {
			//@include box-shadow(rgba(70,70,70,0.75) 4px 4px 8px 0px inset);
			//@include box-shadow(#d0d0d0 2px 2px 4px 0 inset);
			//background-color: #f5f5f5;
		}
		&.active {
			
			span {
				@extend %bold;
			}
			.name {
				@extend %underline_n_y;
			}

		}
	}
	
	
	.product-count {
		vertical-align: top;
		
		@extend %c_d70000;
		@extend %font_9;
		
	}
	
	
}

.product-types-block {
	.filter-block-list {
		@extend %fl;
	}
}

.filter-block-list-all {
	width: 10%;
}

.filter-block-list-items {
	width: 90%;
}

.product-types-list-all {
	width: auto;
}

.bodies-popup {
	.product-types-list-item {
		@extend %w_100;
	}	
}

.filter-block-all-items {
	@extend %underline_n_n;
	@extend %font_12;
	@extend %normal;
	
	&.active {
		@extend %bold;
	}
	
	
	.name	{
		text-decoration: underline;
		&:hover,
		&.active {
			text-decoration: none;
		}
	}
	.product-count {
		vertical-align: top;
		
		@extend %c_d70000;
		@extend %font_9;
		
	}
	
}

#firm-styler {
	.jq-selectbox__select {
		background: #fff;
		box-shadow: none;
	}
}

.product-types-index-all,
.product-types-index {
	
	li {
		margin-bottom: 5px;
	}
	
	& > li {
		@extend %w_50;
		@extend %fl;
		@extend .clearfix;
	}
	
	ul {
		margin-left: 10px;
		margin-bottom: 10px;
	}
	
	a,
	p {
		@extend %bold;
	}
	
	a:hover {
		text-decoration: none;
		.name {
			text-decoration: underline;
		}
		.product-count {
			text-decoration: none;
		}
	}
	
	.product-count {
		vertical-align: top;
		@extend %c_d70000;
		@extend %font_9;		
	}
}
