/* Футер */


.footer {
	height: 220px;
	//height: 472px;
	margin: -224px 0 0 0;
	border-top: 4px solid #d70000;
	//background: url("/img/footer-bg.jpg") no-repeat left center #3b3b3b;
	background: #3b3b3b;
	//background: url(../img/main-bg.jpg) no-repeat center -90px #414649;
	position: relative;
	z-index: 2;

	div,
	p,
	a,
	span{
		@extend %c_fff;
	}
	
	& > div {
		padding: 27px 0 0 0;
	}
	
	.contacts {
		width: 290px;
		
		@extend %fl;
	}
	
	.ur-data {
		width: 385px;
		margin: 0 25px 0 0;
		
		@extend %fl;
			
		.txt {
			margin: 0 0 29px 0;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	.our-shop {
		@extend %fr;
	}
	
	.view-map {
		img {
			width: 375px;
		}
	}
	
	.adress,
	.phones,
	.email {
//		padding: 0 0 0 45px;
		margin: 0 0 10px 0;
		
//		@extend %for_sprite;
		img {
			vertical-align: middle;
			height: 15px;
		}
			
	}
	
	.email {
		@extend %font_14;
		
		img {
			margin: -3px 5px 0 0;
		}
		
//		height: 19px;
//		line-height: 19px;
		
//		&:before {
//			left: 0;
//			top: 0;
//			
//			@extend .ico-email;
//		}
	}
	
	.phones {
		
//		&:before {
//			left: 0;
//			top: 2px;
//			
//			@extend .ico-phone;
//		}
		img {
			&:first-of-type {
				
			}
			&:last-of-type {
				
			}
		}
	}
	
	.phones-mts img {
		margin: 0 5px 0 3px;
	}
	
	.phones-vel img {
		margin: 0 7px 0 0;
	}
	
	.adress {
		&:before {
			left: 0;
			top: 2px;
			
			@extend .ico-adress;
		}		
	}
	
	.site-name {
		padding: 0 17px 0 0;
	}
	
	.copyright {
		margin: 20px 0 0 0;
	}
}

.footer-hdr {
	margin: 0 0 15px 0;
	
	@extend %bold;
	@extend %uppercase;
	@extend %font_17;
}

.copyright-note {
	@extend %underline_y_n;
}

/* end Футер */
