.last-viewed-block {
	width: 166px;
	margin: 0 auto;
	
	h3 {
		border-bottom: 1px solid #e0e0e0;
		margin: 0 0 19px 0;
		padding: 0 0 8px 0;
		
		@extend %uppercase;
	}
	
	.all-items {
		@extend %c_d70000;
		@extend %font_13;
		@extend %underline_y_n;
	}
}

.last-viewed-item {
	margin: 0 0 20px 0;
	
	
	.product-title {
		z-index: 2;
		
		@extend %bold;
		@extend %c_fff;
		@extend %font_14;
		@extend %pos_rel;
	}
	
	.status {
		margin: 22px 0 0 0;
		z-index: 2;
		
		@extend %bold;
		@extend %c_fff;
		@extend %font_14;
		@extend %pos_rel;
	}
	
}

.last-viewed-item-wr {
	padding: 20px 10px 10px 10px;
	height: 81px;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	
	@include border-radius(4px);

	@extend %pos_rel;
	
}

.last-viewed-item-pattern {
	background-color: rgb(0, 0, 0);		
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1;
	
	@extend %pos_abs;	
}

.last-viewed-item-prices {
	bottom: 10px;
	right: 10px;
	z-index: 2;
	
	@extend %pos_abs;
	
	.price {
		@extend %font_20;
		@extend %bold;
		@extend %c_d70000;
		@extend %text_r;
		
		
	}
	
	.price-byr {
		@extend %c_d8d8d8;
		@extend %bold;
		@extend %font_13;
		@extend %text_r;
	}
}