/* Боковое меню */
.menu-cat {
	margin: 0 0 35px 0;
	
	
	h3 {
		padding: 8px 10px 15px 8px;
		background-color: #fff;
		
		@extend %c_d70000;
		@extend %arial;
		@extend %bold;
		
	}
	
	.body {
		background-color: #fff;
	}
	

	li {
		a {
			padding: 8px 10px;
			
			@extend %db;
			@extend %underline_n_n;
			@extend %c_000;
			@extend %font_12;
			
			&:hover {
				@extend %c_d70000;
			}
			
		}
		
		& > ul {
			margin-left: 15px;
            margin-bottom: 15px;
		}
	}
	
	& .active > ul {
		@extend %db;
	}
	
	& .active > a {
		@extend %c_d70000;
		/* text-decoration: underline; */
	}
	
	& .active.parent > a {
		/* text-decoration: none; */
		@extend %c_000;
	}
	
	.cat-4613 > a,
	.cat-4594 > a {
		background: url('../img/cat1-ico.png') no-repeat 2px center;
		padding-left: 24px;
	}
	
	.cat-4593 > a {
		background: url('../img/cat2-ico.png') no-repeat 2px 6px;
		padding-left: 24px;
	}
	
	.cat-4622 > a {
		background: url('../img/cat3-ico.png') no-repeat 2px center;
		padding-left: 24px;
	}
}

.categories-menu {
	
	& > li > a {
		@extend %c_242424;
		@extend %uppercase;
		@extend %bold;
		@extend %for_sprite;
		@extend %pos_rel;
		
/* 		&:before {
			right: 10px;
			top: 50%;
			margin-top: -3px;
		
			@extend .ico-arrow-down;
		}
		 */		
		
	}
	
	ul > li > ul{
		@extend %hide;
	}
}

/* end Боковое меню */
