/* Боковое меню */
.menu-cat {
	margin: 0 0 35px 0;
	
	
	h3 {
		padding: 8px 10px 20px 8px;
		background-color: #fff;
		
		@extend %c_d70000;
		@extend %arial;
		@extend %bold;
		
		margin-bottom: 0;
		
	}
	
	.body {
		background-color: #fff;
	}
	

	li {
		a {
			padding: 8px 10px;
			
			@extend %db;
			@extend %underline_n_n;
			@extend %c_000;
			@extend %font_12;
			
			&:hover {
				@extend %c_d70000;
			}
			
		}
		
		& > ul {
			//margin-left: 15px;
            margin-bottom: 15px;
		}
	}
	
	& .active > ul {
		@extend %db;
	}
	
	& .active > a {
		@extend %c_d70000;
		/* text-decoration: underline; */
	}
	
	& .active.parent > a {
		/* text-decoration: none; */
		@extend %c_000;
	}
	
	.cat-4594 > a {
		background: url('../img/optika7.png') no-repeat 2px 4px;
		padding-left: 50px;
		//font-family: Cambria, Tahoma;
	}
	
	
	.cat-4593 > a {
		background: url('../img/kuzov7.png') no-repeat 4px 5px;
		padding-left: 43px;
		//font-family: Cambria, Tahoma;
	}
	
	.cat-4622 > a {
		background: url('../img/vihlop7.png') no-repeat 8px 4px;
		padding-left: 40px;
		//font-family: Cambria, Tahoma;
		
	}
	
	.cat-4613 > a {
		background: url('../img/cooling7.png') no-repeat 5px 5px;
		padding-left: 40px; 
		//font-family: Cambria, Tahoma;
	}
	
	.cat-4635 > a {
		background: url('../img/tuning.png') no-repeat 5px 5px;
		padding-left: 45px; 
		//font-family: Cambria, Tahoma;
	}
	
	.cat-4641  > a {
		background: url('../img/accesories.png') no-repeat 5px 0;
		padding-left: 40px; 
		padding-bottom: 15px; 
		//font-family: Cambria, Tahoma;
	}
	
	.cat-4635,
	.cat-4594,
	.cat-4593,
	.cat-4622,
	.cat-4613	{
		@extend %pos_rel;
		
		margin-bottom: 26px;
		
		&:after {
			@extend %db;
			@extend %pos_abs;
			
			content: '';
			width: 90%;
			height: 1px;
			background-color: #c0c0c0;
			bottom: -11px;
			left: 50%;
			margin-left: -46%;
			
		}
	}
	
}

.categories-menu {
	
	& > li > a {
		@extend %c_242424;
		@extend %uppercase;
		@extend %bold;
		@extend %for_sprite;
		@extend %pos_rel;
		
/* 		&:before {
			right: 10px;
			top: 50%;
			margin-top: -3px;
		
			@extend .ico-arrow-down;
		}
		 */		
		
	}
	
	ul > li > ul{
		@extend %hide;
		margin-left: 10px;
		
		a {
			color: #555;
		}
	}
}

/* end Боковое меню */