.page-cnt {
	h1 {
		@extend %dib;
		@extend %font_20;
		background-color: #fff;
		margin: 0;
		padding: 5px 10px;
		
		@include border-radius(5px 5px 0 0);
	}
}

.page-body {
	@include border-radius(0 5px 5px 5px);
	
	background-color: #fff;
	padding: 20px 10px 10px 10px;
	
}

.page-cnt {
	p,
	table,
	ol,
	ul {
		margin-bottom: 15px;
	}
	
	ol, ul {
		padding-left: 30px;
	}
	
	li {
		padding-bottom: 5px;
		
	}
	
	ul > li {
		list-style: disc outside;
	}
	
	ol > li {
		list-style: decimal outside;
	}
	
	table {
		border-collapse: collapse;
	}
	
	table, td {
		border: 1px solid #000;
	}
	
	td {
		padding: 5px;
	}
	
	a {
		@extend %underline_y_n;
		color: #1a8bfc;
	}
	
	h4 {
		color: #337ab7;
		margin-bottom: 5px;
		@extend %font_14;
		
	}
	
}

.nav-tabs {
	padding-bottom: 15px;
	
	ul {
		padding-left: 0;
	}
	
	ul > li {
		@extend %fl;
		padding-right: 20px;
		list-style: none;
		
		a {
			@extend %dib;
			@extend %underline_n_n;
			@extend %font_14;
			
			color: #337ab7;
			border-bottom: 1px dashed #337ab7;
			
			&:hover {
				border-bottom: none;
			}
			
			img {
				height: 40px;
				//margin: 0 auto;
				@extend %db;
				
			}
				
		}
		
	}
	
	.selected a {
		border-bottom: none;
	}
}

.pages-townslist {
	table {
		border: none;
	}
	td {
		vertical-align: top;
		padding: 0 2px;
		border: none;
	}
	
	p {
		margin-bottom: 5px;
	}
}

.page-modal {
	.tab-pane img {
		height: 100px !important;
		width: auto !important;
	}
	
	&.pages-delivery {
		.tab-pane img {
			height: 199px !important;
			width: 300px !important;
		}
	}
}

.pages-list {
	.product-detail {
		@extend %pos_rel;
		
		top: 50%;
		margin-top: -25px;
	}
	
	.product-title {
		@extend .mb-20;
		
		height: auto;
	}
	
	.page-row-info {
		@extend %pos_rel;
		
		min-height: 150px;
	}
	
	.page-readmode {
		@extend %pos_abs;
		@extend %underline_y_n;
		
		right: 5px;
		bottom: 0;
		color: #1a8bfc;
	}
}

.page-item-created {
	@extend %font_10;
	@extend %c_777;
	@extend .mb-5;
}

.page-cnt-main-image {
	@extend %db;
	@extend %fr;
	
	margin-left: 10px;
}

.page-row-info {
	margin-left: 205px;
}

.pages-news {
	h1 {
		display: block;
	}
	
	.page-body {
		@include border-radius(0 0 5px 5px);
	}
}

.page-text-intro {
	@extend %bold;
}

.yashare-auto-init {
	@extend %fr;
}

.last-news-item {
	///border: 1px solid #fff;
	//background-color: #fff;
}

.pages-contacts {
	td {
		border: none;
		vertical-align: top;
		padding-right: 45px;
		padding-left: 0;
		
		img {
			vertical-align: middle;
			height: 15px;
		}
		
		p {
			line-height: 20px;
			margin-bottom: 5px;
		}
		
		.ico-mts {
			margin-top: -2px;
			margin-right: 4px;
			margin-left: 3px;
		}
		.ico-vel {
			margin-top: -2px;
			margin-right: 5px;
		}
		.ico-e-mail {
			margin-top: -2px;
			margin-left: 1px;
			margin-right: 8px;
		}
		
	}
	
	h4 {
		color: #000;
		font-size: 14px;
		font-weight: bold;
		@extend %uppercase;
	}
}

.contact-form-cnt {
	@extend .mt-30;
	@extend .mb-20;
	
	.row {
		@extend .clearfix;
		
		padding-bottom: 15px;
		
		
		& > label {
			@extend %db;
			@extend %fl;
			@extend .pt-5;
			
			width: 110px;
		}
		
		& > input[type=text],
		& > textarea {
			@extend %db;
			@extend %fl;
			
			background-color: #fff;
			border-color: #d7d4d1;
			padding: 4px 7px;
			
			width: 250px;
		}
		
		#ContactForm_verifyCode {
			width: 100px;
		}
		
		.errorMessage {
			clear: both;
			padding-left: 110px;
		}
	}
	
	.button-red {
		@extend %uppercase;
		
		margin-left: 110px;
	}
	
	#contact-form {
		padding-bottom: 30px;
	}
}

#reload_captcha_button {
	@extend %pointer;
	@extend %pos_abs;
	@extend .hide-text;
	
	background: url('../img/reload-16.png') no-repeat transparent;
	border: none;
	width: 16px;
	height: 16px;
	outline: none;
	top: 4px;
	left: 350px;
}

#reload_captcha {
	margin-top: -10px;
}


.tab-content .tab-pane {
	@extend %hide;
}

.backcall-form-cnt {
	@extend .p-20;
	margin-top: 0;
	
	h3 {
		margin-bottom: 25px;
	}
}

.back-call-frm {
	width: 340px;
	
	.row {
		& > input[type=text] {
			width: 100%;
			box-sizing: border-box;
		}
		.errorMessage {
			padding-left: 0;
		}
	}
	
	
	.buttons {
		@extend %text_r;
	}
	.button-red {
		margin: 0;
	}
}
.backcall-form-descr {
	@extend .mb-20;
	@extend %font_14;
}

.page-modal {
	max-width:760px !important;
	
	&.pages-delivery {
		overflow-x: hidden;
		padding: 0 5px;
		
	}
}

.pages-delivery {
	.fancybox1 {
		@extend %c_d70000;
	}
}
.pages-delivery,
.pages-payment {
	.nav-tabs {
		//overflow: hidden;
		ul {
			margin: 0 -2px;
		}
		
		li {
			
			
			@extend .cart-block-border;
			
			
			padding: 0 2px;
			a {
				@extend .cart-block-border-cnt;
				@extend %underline_n_n;
				@extend %font_13;
				@extend %pos_rel;
				
				padding: 5px;
				
				&:hover {
					//border-bottom: 1px solid #c0c0c0;
					@include box-shadow(0 0 6px 3px #ccc);
					
				}
			}
			
			
		}
		
		.selected > a,
		a:hover {
			&:before, 
			&:after {
				content: ''; 
				position: absolute;
				left: 50%; 
				margin-left: -10px;
				bottom: -20px;
				border: 10px solid transparent;
				border-top: 10px solid #c0c0c0;
			}

			&:after {
				border-top: 10px solid #fafafa;
				bottom: -19px; 
			}

		}
		
		.selected a {
			border-bottom: 1px solid #c0c0c0;
			@include box-shadow(0 0 6px 3px #ccc);
			@extend %underline_n_n;
		}
	}
}

.page-modal.pages-payment .tabs-cnt .nav-tabs {
	//width: 750px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}

.page-title {
	@extend %bold;
	@extend %font_14;
	@extend %db;
	@extend .mb-20;
}