%for_sprite {
	position: relative;
	
	&:before {
		content: ' ';
		position: absolute;
	}
}

%c_fff {
	color: #fff;
}

%c_e1e1e3 {
	color: #e1e1e3;
}

%c_d70000 {
	color: #d70000;
}

%c_d8d8d8 {
	color: #d8d8d8;
}

%c_999 {
	color: #999;
}

%c_8f9090 {
	color: #8f9090;
}

%c_777 {
	color: #777;
}

%c_7e7e7e {
	color: #7e7e7e;
}

%c_aaa {
	color: #aaa;
}

%c_000 {
	color: #000;
}

%c_242424 {
	color: #242424;
}

%c_a9a9a9 {
	color: #a9a9a9;
}


%lh_14 {
	line-height: 14px;
}

%lh_16 {
	line-height: 16px;
}



%font_10 {
	font-size: 10px;
}

%font_11 {
	font-size: 11px;
}

%font_12 {
	font-size: 12px;
}

%font_13 {
	font-size: 13px;
}

%font_14 {
	font-size: 14px;
}

%font_15 {
	font-size: 15px;
}

%font_16 {
	font-size: 16px;
}

%font_17 {
	font-size: 17px;
}

%font_18 {
	font-size: 18px;
}

%font_19 {
	font-size: 19px;
}

%font_20 {
	font-size: 20px;
}

%font_23 {
	font-size: 23px;
}

%font_24 {
	font-size: 24px;
}

%font_30 {
	font-size: 30px;
}



%bold {
	font-weight: bold;
}

%italic {
	font-style: italic;
}

%uppercase {
	text-transform: uppercase;
}

%underline_y_n {
	text-decoration: underline;
	
	&:hover {
		text-decoration: none;
	}
}

%underline_n_y {
	text-decoration: none;
	
	&:hover {
		text-decoration: underline;
	}
}

%underline_n_n {
	text-decoration: none;
	
	&:hover {
		text-decoration: none;
	}
}

%fl { float: left; }
%fr { float: right; }

%db { display: block; }
%di { display: inline; }
%dib { display: inline-block; }
%dt { display: table; }
%dtr { display: table-row; }
%dtc { display: table-cell; }

%hide { display: none; }

%pos_rel { position: relative; }
%pos_abs { position: absolute; }

%text_l {
	text-align: left;
}

%text_c {
	text-align: center;
}

%text_r {
	text-align: right;
}

%pointer {
	cursor: pointer;
}

%w_25 { width: 25%; }

%w_33 { width: 33%; }

%w_50 {
	width: 50%;
}

%w_100 {
	width: 100%;
}

%border_box { box-sizing: border-box; }

/*font family*/

%arial { font-family: Arial, sans-serif;}
