.productdetails-view-image-part {
//	width: 450px;
	width: 380px;
	
	@extend %fl;
	
}

.productdetails-main-image	{
	margin: 0 0 4px 0;
	
	img {
		@include border_radius(4px);
		
		max-width: 100%;
	}

}

.productdetails-slider-images {
	ul {
		margin: 0 -2px;
	}
	
	a {
		@extend %db;

		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
	}
	
	li {
		margin: 2px;
		border: 1px solid #f5f5f5;
		
		@include transition-property(box-shadow);
		@include transition-duration(200ms);
		
		
		
		@extend %fl;
		
		&:hover {
			//border-color: #d70000;
			border-color: #ccc;
			@include box-shadow(0 0 6px 3px #ccc);
		}
	}
	
	li,
	a,
	img {
		width: 90px;
		height: 67px;
		@include border_radius(4px);
	}
}

.productdetails-view-main-info-part-wr {
	@extend %fr;
	
//	width: 305px;
	width: 375px;
	
}

.productdetails-view-main-info-part {
//	width: 285px;
	border: 1px solid #efefef;
	border-bottom: 1px solid #d4d4d4;
	background: #fff;
	padding: 10px;
	margin: 0 0 10px 0;
	
	@include border-radius(4px);
	@include box-shadow(#d4d4d4 2px 2px 5px);
	
	
	@extend %pos_rel;
	
	.fields {
		padding-bottom: 30px;
	}
	
	.row {
		@extend %pos_rel;
		
		border-bottom: 1px solid $grey_color_1;
		
		&:last-of-type {
			border-bottom: none;
		}
		
		.label {
			border-right: 1px solid $grey_color_1;
			font-weight: normal;
		}
		
		.label,
		.value {
			padding-top: 5px;
			padding-bottom: 5px;
		}
		
	}
	
	.row,
	.label,
	.value {
		height: 30px;
		line-height: 20px;
	}
	.label,
	.value {
		@extend %db;
		@extend %pos_abs;
		@extend %bold;
		@extend %border_box;
		
		color: #2b2b2b;		
	}
	
	.label {
		@extend %font_12;
		
		left: 0;
		top: 0;
		width: 50%;

		
	}
	
	.value {
		right: 0;
		top: 0;
		width: 50%;
		padding-left: 5px;
		
		@extend %c_000;
		@extend %font_14;
	}
	
	.addtocart-button {
		@extend %font_14;
		@extend %bold;

		padding-left: 25px;
		padding-right: 25px;
		margin-left: 180px;
		width: 175px;

	}	
	
}

.productdetails-price-row {
	@extend %pos_rel;
	
	height: 40px;
	margin-bottom: 25px;
	
	.label {
//		line-height: 40px;
		height: auto;
		
		@extend %font_16;
		@extend %c_000;		
		@extend %bold;		
	}
	
	.value {
		height: auto;
	}
	
	.price {
		@extend %normal;
		@extend %font_12;
		//@extend %c_000;
		
		color: $grey_color_2;
	}
	
	.price-byr {
		@extend %bold;
		@extend %font_16;
		@extend %c_d70000;
	}

	.price-override {
		color: #777;
		text-decoration: line-through;

	}
	
	
}

.productview-ask-question {
	
	bottom: 10px;
	right: 20px;
	width: 80px;
	height: 40px;
	
	@extend %for_sprite;
	@extend %pos_abs;
	
	&:before {
		left: 3px;
		top: 0;
		
		@extend .ico-question;
	}
	
	a {
		bottom: 0;
		left: 0;
		
		@extend %font_10;
		@extend %bold;
		@extend %c_d70000;
		@extend %pos_abs;
		@extend %underline_y_n;
	}
}

.productdetails-client-info {
	.title {
		margin: 0 0 10px 0;
		
		@extend %font_11;
		@extend %bold;
	}
	
	.productdetails-client-info-wr {
		box-sizing: border-box;
		margin-left: -3px;
		margin-right: -3px;
		
	}
	
	.guarantie,
	.payment,
	.delivery {

		@extend %fl;
		@extend %w_33;
		
		box-sizing: border-box;
		padding-left: 3px;
		padding-right: 3px;
		
		
		a {
			@extend %db;
			@extend %text_c;
			@extend %underline_n_n;
			@extend %font_13;
			
			@include border_radius(4px);
			
			padding-top: 3px;
			box-sizing: border-box;
			height: 77px;
			line-height: 1;
			color: #777;

			background-color: #fbfbfb;
			border: 2px solid #fdfdfd;
			
			&:hover {
				background-color: #f0f0f0;
				border-color: #f0f0f0;
				
			}
		}
		
		
	}
	
	.payment img,
	.guarantie img {
		height: 50px;
	}
	.guarantie img {
		margin: 0;
	}
	
	.payment img {
//		margin: 0 10px;
	}
	.delivery img {
		height: 55px;
		margin-top: -5px;
//		margin: 5px 0 5px 0; 
	}
	
//	.payment {
//		a {
//			width: 60px;
//		}
//		
//		&:before {
//			left: 10px;
//			top: 0;
//			
//			@extend .ico-payment-question;
//		}
//	}
//	.delivery {
//		&:before {
//			left: 10px;
//			top: 0;
//			
//			@extend .ico-delivery-question;
//		}
//		
//	}
}

.productdetails-view-tab {
	@extend %pos_rel;
	
	.tabs {
//		padding: 0 0 0 20px;
//		margin: 15px 0 15px 0;
		
		@extend .clearfix;
		
		li {
			//padding: 0 45px 0 0;
			
			@extend %fl;
			
		}
		
		a {
			@extend %c_7e7e7e;
			@extend %bold;
			@extend %font_14;
			@extend %underline_n_n;
			@extend %db;
			@extend %pos_rel;
			
			@include border-radius(4px 4px 0 0);
			
			line-height: 36px;
			padding: 0 10px 5px 10px;
			border: 1px solid #e6e6e6;
			border-bottom: none;
			
			
			&:hover {
				@extend %c_d70000;
			}
			
			&.active {
				background-color: #fff;
				border-color: #efefef;
			}
			
			&:after {
				@extend %pos_abs;
				
				
				content: ' ';
				background-color: #fff;
				height: 3px;
				top: 100%;
				left: 4px;
				width: 102%;
				margin-top: -2px;
				z-index: 2;
				
			}
		}
		
		sup {
			//right: 0;
			top: -3px;
			
			@extend %pos_abs;
			@extend %c_d70000;
			@extend %font_12;
			
		}
		
		.active {
			@extend %font_14;
			@extend %c_d70000;
		}
	}
	
	.view {
		border: 1px solid #efefef;
		border-bottom: 1px solid #d4d4d4;
		background: #fff;
		padding: 10px;
		min-height: 75px;
		margin-top: -3px;

		@include border-radius(4px);
		@include box-shadow(#d4d4d4 2px 2px 5px);
		
	}
	
	.pager {
		@extend %hide;
	}
}

.related-products {
	margin: 20px 0 0 0;
	
	h3 {
		margin: 0 0 20px 0;
	}
}

.product_description p {
		margin-bottom: 12px;
}

.buy-in-one-click {
	white-space: nowrap;
	padding-top: 30px;
	
	a {
		@extend %font_13;
		@extend %bold;
		@extend %underline_y_n;
		
		color: #0066A4;
	}
	
	.inputbox {
		width: 150px;
		margin-left: 5px;
		padding: 3px;
	}
}

.productdetails-prepayment-ico {
	@extend %pos_abs;
	top: 4px;
	margin-left: 4px;
}

.buy-in-one-click img,
.buy-in-one-click-err,
.buy-in-one-click-ok {
	display: none;
}

.buy-in-one-click-err,
.buy-in-one-click-ok {
	padding-top: 5px;
}


.buy-in-one-click img {
	height: 12px;
}

.buy-in-one-click-err {
	color: red;
}

.buy-in-one-click-ok {
	color: green;
}

.productdetails-modelinfo {
	@extend %font_15;
	@extend %db;
	@extend %normal;
}

.productdetails-free-delivery {
	@extend .product-list-item-row-free-delivery;
	@extend %text_r;
	@extend .pb-5;
	
	padding-right: 22px;
	font-size: 12px;
}

.productdetails-delivery-cost {
	@extend %text_r;
	@extend .pb-5;
	
	padding-right: 19px;
	font-size: 12px;
}

.likes-block {
	@extend .clearfix;
	
	
	margin-right: -4px;
	margin-top: 105px;
	
	.ya-share2 {
		@extend %fr;
	}
	
	//bottom: 10px;
	//right: 6px;
	
	
}

.product-ttl-descr {
	@extend %bold;
	
	margin-bottom: 28px;
}