/* Список товаров */

.new-positions .jcarousel-new-positions {
	margin-top: -10px;
	margin-left: -5px;
	width: 101%;
}
.jcarousel-new-positions > ul {
	padding-top: 10px !important;
}

.products-on-auto-list .products-on-auto-item,
.products-list .product-item {
	margin: 0 5px 10px 5px;
}



.product-list-item {
	//height: 345px;
	height: 310px;
	width: 176px;
	padding: 2px;
	background: #fff;
	border: 1px solid #fff;
	
	@include border-radius(4px);
	
	//@include transition-property(box-shadow);
	//@include transition-duration(200ms);
	
	
	&:hover {
		//border-color: #ccc;
		//@include box-shadow(0 0 6px 3px #ccc);
	}
	
	.product-title {
		@extend %db;
		@extend .mb-10;
		
		
		
	}
	
	.product-title-name {
		@extend %db;
		@extend %text_c;
		@extend %font_11;
		@extend %bold;
		
		height: 50px;
	}
	
	.product-image-cnt {
		@extend %db;
		height: 125px; 
	}
	
	.product-image {
		@extend %db;
		@include border-radius(4px);
		
		width: 176px;
		max-height: 100%;
		//height: 125px; 
		//background-size: contain;
		//background-size: cover;
		//background-repeat: no-repeat;
		//background-position: top center;
	}
	
	.product-label {
		display: inline-block;
		padding: 3px 14px;
		top: -8px;
		right: 15px;
		
		@extend %pos_abs;
		@extend %bold;
		@extend %font_13;
	}
	
	.new-product {
		background-color: #d70000;
		
		@extend %c_fff;
	}
	
	.small {
		@extend %font_10;
		@extend %arial;
		
		/*
		span {
			@extend %c_000;
		}
        .grey {
            @extend %c_999;
        } 
		*/
	}
	
	
	
	.product-bottom {
		
	}
}

.cart-prod-name-cell,
.product-list-item {
	.status	{
		height: 20px;
		line-height: 20px;
		padding: 5px 10px;

		@include border_radius(3px);
		@extend %font_11;
		@extend %bold;
		@extend %c_fff;
		@extend %text_c;
		//@extend %db; 
	}
}
/*
.cart-prod-name-cell {
	.status	{
		padding: 3px 6px;
		//font-size: 9px;
		@extend %font_10;
	}
}
*/	
.cart-prod-name-cell,
.product-list-item {
	.status-available	{
		background-color: #8dc63f;
	}
}
.cart-prod-name-cell,
.product-list-item {
	.status-not-available	{
		background-color: #6c6c6c;
	}
}

.cart-prod-name-cell,
.product-list-item {
	.status-on-request	{
		background-color: #B3B3B3;
	}
}


.product-list-item-bottom {
	@extend %pos_abs;
	
	height: 65px;
	width: 160px;
	bottom: 10px;
	left: 10px;
	
	.product-list-item-row-price-byr,
	.product-list-item-row-price-usd {
		padding-left: 0;
	}
}

.product-detail-tile {
	right: 0;
	bottom: 0;
	
	@extend .ico-on-product-page;
	/*
	width: 30px;
	height: 30px;
	background: url(../img/RED-STRELKA.png) no-repeat;
	background-size: contain;
	*/
	
}


.category-products-list {
	margin: 0 -5px;
	
	.product-list-item {
		margin-bottom: 15px;
	}
}

.more-products {
	@extend %font_14;
}


.product-list-item-row {
	width: 98%;
	height: auto;
}


.product-list-item-row-image-block {
	@extend %fl;
	
	.product-image {
		@extend %db;
		width: 180px;
		//height: 145px;
		
		@include border-radius(4px);
	}
	
	.additional-images-list-item {
		width: 65px;
		height: 50px;
		margin: 0 2px;
		
		@extend %fl;
		
		a {
			@extend %db;
		}
		
		img {
			width: 65px;
			height: 50px;
			
			@include border-radius(4px);
		}
	}
}


.product-list-item-row-info-block {
	padding-left: 25px;
	padding-right: 10px;
	//width: 340px;
	width: 360px;
	min-height: 155px;
    
    @extend %pos_rel;
    @extend %fl;
    
    &:before {
        content: ' ';
        width: 1px;
        background-color: #ddd;
        height: 80%;
        top: 15%; 
        right: 0; 
        
        @extend %pos_abs;
    }
	
	a.product-title {
		margin-top: 0;
		height: auto;
		margin-bottom: 5px;
		
		@extend %text_l;
	}
	
	.short-description {
		margin-top: 5px;
		
		li {
			&:before {
				content: '-';
				padding-right: 3px;
				
				@extend %c_d70000;
				@extend %bold;
				@extend %font_16;
			}
		}
	}
}

.product-list-item-row-status {
	margin: 15px auto 0 auto;
}

.prod-list-char-item {
	margin-bottom: 6px;
}

.product-list-item-row-price-block {
	@extend %fl;
	@extend .pl-20;
	@extend %text_c;
	@extend %text_c;
	@extend .mt-5;
	@extend %pos_rel;

	
	width: 146px;
	//height: 180px;
	height: auto;
	
	.addtocart-button,
	.product-detail {
		padding: 6px 27px;
		
	}
	
	.product-detail {
		@extend .mb-5;
		@extend .mt-10;
	}
	
	.addtocart-button {
		width: 121px;
	}
}

.percent_discount {
	@extend %pos_abs;
	@extend %c_fff;
	@extend %normal;
	@extend %font_12;

	right:0;
	top:0;
	background-color: #009a00;
	padding: 0 3px;
	line-height:16px;
}


.product-list-item-row-price-override {
	@extend %font_14;
	@extend %text_l;
	@extend .pl-10;

	text-decoration: line-through;
	color: #4c4c4c;
}

.list-item-row-status {
	margin: 8px auto 3px auto;
}

#firm-styler {
	margin-top: -2px;
}

.popup-gallery {
	@extend .p-10;
	@include border-radius(4px);
	//@include box-shadow(#ef959c 2px 2px 5px);
	//@include box-shadow(0 0 6px 3px #ccc);
	
	background: #fff;
	border: 1px solid #d70000;
	border: 1px solid #ccc;
	z-index: 777;
	width: 670px;
}

.popup-full-img {
	@include border-radius(4px);
	@extend %db;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}


.popup-full-img,
.preloaderBig {
	height: 450px;
}

.preloaderBig {
	@extend %db;
	@extend %pos_rel;
	width: 100%;
	height: 490px;
	background: url('../img/loader1.gif') center center no-repeat #fff;
	z-index: 2;
}

.additional-images-wr {
	
	ul {
		@extend %pos_rel;
		@extend %fl;
		left: 50%;
		margin-top: 10px;
		
	}
	
	li {
		@extend %pos_rel;
		@extend %fl;
		right: 50%;		
		padding: 0 5px;
	}
	
	img {
		width: 100px;
		@include border-radius(4px);
	}
}

.add-tocart-btn {
	border: none;
	background-color: transparent;
	right: 40px;
	bottom: 0;
	
	@extend .ico-cart-n;
	/*
	width: 30px;
	height: 30px;
	background: url(../img/Shopping-Cart-icon.png) no-repeat;
	background-size: contain;
	*/
	
}

.category-products-list .product-list-item-right-side {
	margin-top: -10px;
}

.prod-list-char-list-p1 {
	@extend .mb-15;
	@extend .mt-15;
}

.product-list-item-bottom-cnt {
	@extend %pos_rel;
	
	height: 100px;
}

.child-categories {
	.product-item {
		height: auto;
	}
	
	.cat-image {
		background-size: cover;
	}
	
	.cat-title {
		@extend .mb-10;
		height: auto;
	}
}

.popup-prod-img {
	@extend .hidden;
}

.product-list-item-row-price-byr {
	@extend %c_d70000;
	@extend %bold;
	@extend %font_16;
	@extend %text_l;
	@extend .pl-10;
	@extend .nowrap;
}

.product-list-item-row-price-usd {
	@extend %font_11;
	@extend .mb-10;
	@extend .pl-10;
	@extend %text_l;
	
	color: #999;
}

.prod-list-addtocart-button {
	@extend %pointer;
	@extend .mt-5;
}

.product-list-item-row-free-delivery {
	//@extend %bold;
	@extend %font_11;
	
	color: #1a8bfc;
}

.productdetails-delivery-cost,
.product-list-item-row-delivery-cost {
	//@extend %bold;
	@extend %font_11;
	
	a {
		@extend %underline_y_n;
		
		color: #4c4c4c;
	}
	
	img {
		height: 10px;
	}
}


.category-list-4640 {
	.product-list-item .product-title-name {
		height: 65px;	
	}
	.product-list-item {
		//height: 345px;
		height: 325px;
	}
	
	.product-list-item-row {
		height: auto;
	}
	
}

