.products-on-auto {
	
	.jcarousel-control-prev,
	.jcarousel-control-next {
		top: -36px;
		
		//border-color: #000;
		border-color: #d1d1d1;
		
		&:hover {
			//border-color: #000;			
			border-color: #d1d1d1;			
		}
		
		&:active {
			border-color: #cdcdcd;			
		}
		
	}
	
	.jcarousel-control-prev {
		right: 20px;
		
		&:before {
			@extend .ico-arrow-left-act;
		}

		&:hover:before {
			@extend .ico-arrow-left-act;
		}
		
		&:active:before {
			@extend .ico-arrow-left;
		}
	}
	
	.jcarousel-control-next {
		right: 0;
		
		
		&:before {
			@extend .ico-arrow-right-act;
		}	

		&:hover:before {
			@extend .ico-arrow-right-act;
		}	
		&:active:before {
			@extend .ico-arrow-right;
		}
	}
	
	
}

.products-on-auto-item {
	width: 250px;
	margin: 0 5px 0 0;
	overflow: hidden;
	
	@include border-radius(4px);
	
	@extend %fl;
	
	img {
		width: 100%;
	}
}

.news-block {
	.products-on-auto-item {
		box-sizing: border-box;
		width: 248px;
	}
}

.products-on-auto-item-img {
	@extend %db;
	
	border: 2px solid #fff;
}

.products-on-auto-item-img-cnt {	
	min-height: 175px;
}



.products-on-auto-item-ttl {
	@extend %bold;
	@extend %c_000;
}

.products-on-auto-item-intro {
	@extend %c_000;
}

.products-on-auto-item-more {
	@extend %underline_y_n;
	
	color: #1a8bfc;
}

