/* Список товаров */

.new-positions .jcarousel-new-positions {
	margin-top: -10px;
	margin-left: -5px;
	width: 101%;
}
.jcarousel-new-positions > ul {
	padding-top: 10px !important;
}

.products-on-auto-list .products-on-auto-item,
.products-list .product-item {
	margin: 0 5px 10px 5px;
}



.product-list-item {
	height: 345px;
	width: 176px;
	padding: 2px;
	background: #fff;
	border: 1px solid #fff;
	
	@include border-radius(4px);
	@include box-shadow(#dbdbdb 2px 2px 5px);
	
	&:hover {
		border-color: #d70000;
		@include box-shadow(#ef959c 2px 2px 5px);
	}
	
	.product-title {
		height: 50px;
	}
	
	.product-image {
		width: 100%;
		height: 125px; 
		background-size: contain;
		background-repeat: no-repeat;
		background-position: top center;
	}
	
	.product-label {
		display: inline-block;
		padding: 3px 14px;
		top: -8px;
		right: 15px;
		
		@extend %pos_abs;
		@extend %bold;
		@extend %font_13;
	}
	
	.new-product {
		background-color: #d70000;
		
		@extend %c_fff;
	}
	
	.small {
		@extend %font_10;
		
		
		span {
			@extend %c_000;
		}
        .grey {
            @extend %c_999;
        }       
	}
	
	
	.status	{
		width: 75px;
		height: 20px;
		line-height: 20px;
		margin-top: 15px;
		
		@include border_radius(10px);
		@extend %font_11;
		@extend %bold;
		@extend %c_fff;
		@extend %text_c;
	}
	
	.status-available	{
		background-color: #8dc63f;
	}

	.status-not-available	{
		background-color: #6c6c6c;
	}

	.status-on-request	{
		background-color: #6c6c6c;
	}
	
	.product-bottom {
		
	}
}

.product-list-item-bottom {
	height: 65px;
	width: 160px;
	bottom: 10px;
	left: 10px;
}

.product-detail-tile {
	right: 0;
	bottom: 0;
	
	@extend .ico-on-product-page;
}


.category-products-list {
	margin: 0 -5px;
	
	.product-list-item {
		margin-bottom: 15px;
	}
}

.more-products {
	@extend %font_14;
}


.product-list-item-row {
	width: 96%;
	height: auto;
}


.product-list-item-row-image-block {
	
	.product-image {
		width: 206px;
		height: 154px;
		
		@include border-radius(4px);
	}
	
	.additional-images-list-item {
		width: 65px;
		height: 50px;
		margin: 0 2px;
		
		@extend %fl;
		
		a {
			@extend %db;
		}
		
		img {
			width: 65px;
			height: 50px;
			
			@include border-radius(4px);
		}
	}
}


.product-list-item-row-info-block {
	padding-left: 25px;
	padding-right: 10px;
	width: 340px;
	min-height: 155px;
    
    @extend %pos_rel;
    
    &:before {
        content: ' ';
        width: 1px;
        background-color: #ddd;
        height: 80%;
        top: 15%; 
        right: 0; 
        
        @extend %pos_abs;
    }
	
	a.product-title {
		margin-top: 0;
		height: auto;
		margin-bottom: 20px;
		
		@extend %text_l;
	}
	
	.short-description {
		margin-top: 5px;
		
		li {
			&:before {
				content: '-';
				padding-right: 3px;
				
				@extend %c_d70000;
				@extend %bold;
				@extend %font_16;
			}
		}
	}
}

.product-list-item-row-status {
	margin: 15px auto 0 auto;
}

.prod-list-char-item {
	margin-bottom: 6px;
}

.product-list-item-row-price-block {
	width: 140px;
	height: 180px;
	
	.addtocart-button,
	.product-detail {
		padding: 6px 13px;
		
	}
	
	.product-detail {
		//width: 75px;
	}
	
	.addtocart-button {
		width: 91px;
	}
	
}

.list-item-row-status {
	margin: 8px auto 3px auto;
}

#firm-styler {
	margin-top: -2px;
}

.popup-gallery {
	@extend .p-10;
	@include border-radius(4px);
	@include box-shadow(#ef959c 2px 2px 5px);
	
	background: #fff;
	border: 1px solid #d70000;
	z-index: 777;
	width: 670px;
}

.popup-full-img {
	@include border-radius(4px);
	@extend %db;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}


.popup-full-img,
.preloaderBig {
	height: 450px;
}

.preloaderBig {
	@extend %db;
	@extend %pos_rel;
	width: 100%;
	height: 490px;
	background: url('../img/loader1.gif') center center no-repeat #fff;
	z-index: 2;
}

.additional-images-wr {
	
	ul {
		@extend %pos_rel;
		@extend %fl;
		left: 50%;
		margin-top: 10px;
		
	}
	
	li {
		@extend %pos_rel;
		@extend %fl;
		right: 50%;		
		padding: 0 5px;
	}
	
	img {
		width: 100px;
		@include border-radius(4px);
	}
}

.add-tocart-btn {
	border: none;
	background-color: transparent;
	right: 40px;
	bottom: 0;
	
	@extend .ico-cart-n;
}

.category-products-list .product-list-item-right-side {
	margin-top: -10px;

}

.pages-list {
	.product-detail {
		@extend %pos_rel;
		
		top: 50%;
		margin-top: -25px;
	}
}

.page-item-created {
	@extend %font_10;
	@extend %c_777;
	@extend .mb-5;
}

.page-cnt-main-image {
	@extend %db;
	@extend %fl;
	
	margin-right: 10px;
}