.productdetails-view-image-part {
	width: 450px;
	
	@extend %fl;
	
}

.productdetails-main-image	{
	margin: 0 0 4px 0;
	
	img {
		max-width: 100%;		
	}

}

.productdetails-slider-images {
	ul {
		margin: 0 -2px;
	}
	
	a {
		@extend %db;
	}
	
	li {
		margin: 2px;
		border: 1px solid #f5f5f5;
		
		@extend %fl;
		
		&:hover {
			border-color: #d70000;
		}
		
		
		img {
		}
	}
	
	li,
	img {
		width: 107px;
		height: 81px;
		
	}
}

.productdetails-view-main-info-part-wr {
	width: 305px;
	
	@extend %fr;
	
}

.productdetails-view-main-info-part {
	width: 285px;
	border: 1px solid #efefef;
	border-bottom: 1px solid #d4d4d4;
	background: #fff;
	padding: 10px;
	margin: 0 0 10px 0;
	
	@include border-radius(4px);
	@include box-shadow(#d4d4d4 2px 2px 5px);
	
	
	@extend %pos_rel;
	
	.fields * {
		
	}
	
	.row {
		margin: 0 0 15px 0;
		
		@extend %pos_rel;
	}
	
	.row,
	.label,
	.value {
		height: 20px;
	}
	.label,
	.value {
		color: #2b2b2b;
		
		
		
		@extend %db;
		@extend %pos_abs;
		@extend %bold;
		
	}
	
	.label {
		@extend %font_12;
		left: 0;
		top: 0;
		
		width: 55%;
		
		
		
		font-weight: normal;
	}
	
	.value {
		right: 0;
		top: 0;
		width: 45%;
		
		@extend %c_000;
		@extend %font_14;
	}
	
	.productdetails-price-row {
		height: 40px;
	}
	
}

.productdetails-price-row {
	
	
	.label {
		line-height: 40px;
		height: auto;
		
		@extend %font_14;
		@extend %c_000;		
	}
	
	.value {
		height: auto;
	}
	
	.price {
		margin: 0 0 5px 0;
		
		@extend %bold;
		@extend %font_16;
		@extend %c_d70000;
	}
	
	.price-byr {
		@extend %bold;
		@extend %font_12;
		@extend %c_000;
	}
	
	
}

.productdetails-view .addtocart-button {
	padding-left: 25px;
	padding-right: 25px;
//	margin-right: 12px;
	margin-left: 157px;
	
//	@include border-radius(3px);
//	@include transition-property(background-color);
//	@include transition-duration(500ms);
	
	//@extend %db;
//	@extend %pointer;
//	@extend %c_fff;
	@extend %font_14;
	@extend %bold;
	
//	&:hover {
//		background: #be0000;
//		border-color: #d70000;
//	}	
	
}

.productview-ask-question {
	
	bottom: 10px;
	right: 20px;
	width: 80px;
	height: 40px;
	
	@extend %for_sprite;
	@extend %pos_abs;
	
	&:before {
		left: 3px;
		top: 0;
		
		@extend .ico-question;
	}
	
	a {
		bottom: 0;
		left: 0;
		
		@extend %font_10;
		@extend %bold;
		@extend %c_d70000;
		@extend %pos_abs;
		@extend %underline_y_n;
	}
}

.productdetails-client-info {
	.title {
		margin: 0 0 10px 0;
		
		@extend %font_11;
		@extend %bold;
	}
	
	.productdetails-client-info-wr {
		box-sizing: border-box;
		margin-left: -3px;
		margin-right: -3px;
		
	}
	
	.guarantie,
	.payment,
	.delivery {

		@extend %fl;
		@extend %w_33;
		
		box-sizing: border-box;
		padding-left: 3px;
		padding-right: 3px;
		
		
		a {
			@extend %db;
			@extend %text_c;
			@extend %underline_n_n;
			@extend %font_13;
			
			padding-top: 3px;
			box-sizing: border-box;
			height: 60px;
			line-height: 1;
			color: #777;

			background-color: #f3f3f3;
			
			&:hover {
				background-color: #f0f0f0;
			}
		}
		
		
	}
	
	.guarantie img {
		margin: 0 15px 3px 15px;
	}
	
	.payment img {
		margin: 0 10px;
	}
	.delivery img {
		margin: 5px 0 5px 0;
	}
	
//	.payment {
//		a {
//			width: 60px;
//		}
//		
//		&:before {
//			left: 10px;
//			top: 0;
//			
//			@extend .ico-payment-question;
//		}
//	}
//	.delivery {
//		&:before {
//			left: 10px;
//			top: 0;
//			
//			@extend .ico-delivery-question;
//		}
//		
//	}
}

.productdetails-view-tab {
	.tabs {
		padding: 0 0 0 20px;
		margin: 15px 0 15px 0;
		
		@extend .clearfix;
		
		li {
			padding: 0 45px 0 0;
			
			@extend %fl;
			@extend %pos_rel;
		}
		
		a {
			@extend %c_7e7e7e;
			@extend %bold;
			@extend %font_14;
			@extend %underline_n_n;
			
			&:hover {
				@extend %c_d70000;
			}
		}
		
		sup {
			//right: 0;
			top: -3px;
			
			@extend %pos_abs;
			@extend %c_d70000;
			@extend %font_12;
			
		}
		
		.active {
			@extend %font_14;
			@extend %c_d70000;
		}
	}
	
	.view {
		border: 1px solid #efefef;
		border-bottom: 1px solid #d4d4d4;
		background: #fff;
		padding: 10px;
		min-height: 350px;

		@include border-radius(4px);
		@include box-shadow(#d4d4d4 2px 2px 5px);
		
	}
}

.related-products {
	margin: 20px 0 0 0;
	
	h3 {
		margin: 0 0 20px 0;
	}
}

.product_description {
	p {
		margin-bottom: 12px;
	}
}

.buy-in-one-click {
	white-space: nowrap;
	padding-top: 30px;
	
	a {
		@extend %font_13;
		@extend %bold;
		@extend %underline_y_n;
		
		color: #0066A4;
	}
	
	.inputbox {
		width: 150px;
		margin-left: 5px;
		padding: 3px;
	}
}

.productdetails-prepayment-ico {
	@extend %pos_abs;
	top: -4px;
}

.buy-in-one-click img,
.buy-in-one-click-err,
.buy-in-one-click-ok {
	display: none;
}

.buy-in-one-click-err,
.buy-in-one-click-ok {
	padding-top: 5px;
}


.buy-in-one-click img {
	height: 12px;
}

.buy-in-one-click-err {
	color: red;
}

.buy-in-one-click-ok {
	color: green;
}

