@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@import "compass/utilities/general/clearfix";
@import "compass/utilities/general/hacks";  /* необходимо для @filter-gradient */

@import "compass/typography/links";
@import "compass/typography/lists/horizontal-list";

@import "compass/layout";


@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/css3/images";

@import "compass/utilities/sprites";


$icons-layout: smart;
$ico-sprite-dimensions: true;


@import "ico/*.png"; 
@include all-ico-sprites;




@import "_placeholders";
@import "_common";	//общие стили 
@import "_common-universal-classes";	//универсальные классы 
@import "_common-font-families";	//шрифты 
@import "_header";
@import "_search-auto-block";
@import "_left-menu";
@import "_news-block";
@import "_products-list";
@import "_products-on-auto";
@import "_how-it-work";
@import "_last-viewed-block";
@import "_category-view";
@import "_footer";
@import "_productdetails";
@import "_filter-block-list";
@import "_cart";
@import "_advantages";
@import "_page";



