.clr{clear:both; height:1px;}
.mts{background:url(../images/ico-mts.jpg) 5px 4px no-repeat; padding:5px 0 5px 28px; display: inline-block;}
.vel{background:url(../images/ico-vel.png) 0 4px no-repeat; padding:5px 0 5px 28px; display: inline-block;}
/*img{max-width:300px; max-height:300px;}*/